.contain{
    position:absolute;
    opacity: 0.7;
    margin-inline: 50%;
}
.spinner{
   max-width: 80px;
   max-height: 80px;
   animation: spin 3s linear infinite;

}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}